@import '../../../assets/theme.scss';

.article-detail-page {
    width: 100vw;

    &-title {
        padding: 20px;

        img {
            width: 100%;
        }

        p {
            font-size: $fontSizeContent;
            color: $textColor3;
        }
    }
}