@import '../../assets/theme.scss';

.recommend-page {
    &-tabs {
        padding: 0;
        width: 100vw;
    }

    &-swiper {
        &-content {
            height: 120px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 48px;
            user-select: none;
        }
    }

    &-list {
        &-prefix {
            background: $grayColor;
        }

        &-title {
            @extend .multipleTextEllipsis;
            @include lineClamp2;
            font-size: $fontSizeTitle;
            color: $textColor3;
        }

        &-children {
            @extend .multipleTextEllipsis;
            @include lineClamp2;
            font-size: $fontSizeContent;
            color: $textColor6;
        }

        &-desc {
            text-decoration: underline;
            font-size: $fontSizeContent;
            color: $primaryColor;
        }
    }
}